<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Clients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .logout-form {
            position: absolute;
            right: 40px;
            bottom: 10px;
        }

        .profile {
            position: absolute;
            right: 140px;
            bottom: 18px;
        }

        .input-group {
            display: flex;
        }

        .input-group label {
            width: 200px;
            margin-right: 10px;
            text-align: right;
        }

        .fixed-top-nav {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

        .centered {
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top-nav">
    <a class="navbar-brand" href="/hello">Кредитка</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-link"
                   href="/clients">Клиенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/clients/' + ${clientId}}">Назад</a>
            </li>
            <li class="nav-item">
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-link"
                   th:href="@{'/clients/' + ${clientId} + '/loans/new'}">Добавить кредит</a>
                <a th:if="${#authorization.expression('hasRole(''USER'')')}" class="nav-link"
                   th:href="@{'/clients/' + ${clientId} + '/loans/new'}">Взять кредит</a>
            </li>
            <li class="nav-item">
                <a style="color: #005cb3;" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="profile"
                   th:text="${@userService.getRealNameByUsername(#authentication.getName())}"></a>
                <a style="color: #005cb3;" th:if="${#authorization.expression('hasRole(''USER'')')}" class="profile"
                   th:href="'/clients/' + ${@clientService.getClientIdByUsername(#authentication.getName())}"
                   th:text="${@userService.getRealNameByUsername(#authentication.getName())}"></a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="get" class="logout-form">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="centered" style="margin-top: 80px">
    <h4>Топ-3 самых больших кредитов</h4>
    <ul th:if="${topLoans != null}" style="list-style-type: none; padding: 0; margin: 0;">
        <li th:each="loan : ${topLoans}">
            <a th:href="'/clients/' + ${clientId} + '/loans/' +  ${loan.getLoanId()}"
               th:text="'Кредит (id: ' + ${loan.getLoanId()} + ')'"></a>
            <span th:text="' - ' + ${loan.getLoanAmount()}"></span>
        </li>
    </ul>
</div>
<br>
<div class="container">
    <br>
    <h5 th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Кредиты клиента
        <span th:text="${client.firstName}"></span>
    </h5>
    <h5 th:if="${#authorization.expression('hasRole(''USER'')')}">Мои кредиты</h5>

    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Сумма</th>
            <th>Процент</th>
            <th>Срок</th>
            <th>Дата выдачи</th>
            <th>Дата погашения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan : ${loans}">
            <td th:text="${loan.getLoanId()}"/>
            <td th:text="${loan.getLoanAmount()}"/>
            <td th:text="${loan.getInterestRate()}"/>
            <td th:text="${loan.getLoanTerm()}"/>
            <td th:text="${loan.getDateOfGive()}"/>
            <td th:text="${loan.getDateOfTotalRepayment()}"/>
            <td>
                <a th:href="@{'/clients/' + ${clientId} + '/loans/' + ${loan.getLoanId()}}" th:text="Просмотреть"/>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active' : ''">
                <a class="page-link" th:href="@{${filterUrl}(page=${i})}" th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
    <hr>
    <br>
    <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}" style="margin-top: 10px"
            class="btn btn-primary" onclick="clearQueryParamsAndNavigate()">Добавить кредит
    </button>
    <button th:if="${#authorization.expression('hasRole(''USER'')')}" style="margin-top: 10px"
            class="btn btn-primary" onclick="clearQueryParamsAndNavigate()">Взять кредит
    </button>

    <br>

    <span th:text="${'Всего кредитов: ' + loans.size()}"/>

    <h5 style="margin-left: 520px; margin-bottom: 20px;">Фильтры</h5>
    <hr>
    <div class="container">
        <div class="mx-auto" style="width: 400px;">
            <form th:method="GET" th:action="@{'/clients/' + ${clientId} + '/loans/filter'}">
                <div class="form-group">
                    <label for="from" class="col-form-label">Сумма кредита:</label>
                    <input type="text" class="form-control" id="from" name="from" th:value="${from}"
                           placeholder="От" onkeyup="validateAmountFrom()">
                    <div style="color:red; min-width: 100%;" id="fromError"></div>
                </div>
                <div class="form-group">
                    <label for="to" class="col-form-label"></label>
                    <input type="text" class="form-control" id="to" name="to" th:value="${to}"
                           placeholder="До" onkeyup="validateAmountTo()">
                    <div style="color:red; min-width: 100%;" id="toError"></div>
                </div>

                <div class="form-group">
                    <label style="margin-top: 10px" for="loanTerm" class="col-form-label">Срок:</label>
                    <input type="text" class="form-control" id="loanTerm" name="loanTerm" th:value="${loanTerm}"
                           onkeyup="validateLoanTerm()">
                    <div style="color:red; min-width: 100%;" id="loanTermError"></div>
                </div>

                <div class="form-group">
                    <label for="dateOfGive" class="col-form-label">Дата выдачи:</label>
                    <input type="text" class="form-control" id="dateOfGive" name="dateOfGive" th:value="${dateOfGive}"
                           onkeyup="validateDateOfGive()">
                    <div style="color:red; min-width: 100%;" id="dateOfGiveError"></div>
                </div>
                <hr>
                <div class="form-group" style="margin-top: 10px">
                    <div class="col-sm-6 controls">
                        <button style='margin-left: 123px' type="submit" class="btn btn-primary"
                                onclick="return validateForm()">Отфильтровать
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <button style="margin-top: 10px; margin-left: 515px" type="button" class="btn btn-danger"
            th:onclick="|location.href='@{/clients/}' + ${clientId} + '/loans'|">Сбросить
    </button>
</div>

<script>
    function clearQueryParamsAndNavigate() {
        var currentUrl = window.location.href;
        var urlWithoutParams = currentUrl.split('?')[0];
        window.location.href = urlWithoutParams + "/new"
    }

    function validateForm() {
        if (validateAmountFrom() && validateAmountTo() && validateLoanTerm() && validateDateOfGive()) {
            return true;
        }
        return false;
    }

    function validateDateOfGive() {
        var dateOfGive = document.getElementById("dateOfGive").value;
        var errorField = document.getElementById("dateOfGiveError");

        if (dateOfGive === null || dateOfGive === '') {
            errorField.textContent = "";
            return true;
        }
        var dateRegex = /^\d{4}-\d{2}-\d{2}$/;
        if (!dateRegex.test(dateOfGive)) {
            errorField.textContent = "Формат даты должен быть yyyy-MM-dd";
            return false;
        }
        errorField.textContent = "";
        return true;
    }

    function validateLoanTerm() {
        var loanTerm = document.getElementById("loanTerm").value;
        var errorField = document.getElementById("loanTermError");

        if (loanTerm === null || loanTerm === '') {
            errorField.textContent = "";
            return true;
        }
        if (isNaN(loanTerm) || loanTerm % 1 !== 0) {
            errorField.textContent = "Срок должен быть целым числом";
            return false;
        }

        if (loanTerm < 2 || loanTerm > 120) {
            errorField.textContent = "Срок должен быть в пределах от 2 до 120 месяцев";
            return false;
        }

        errorField.textContent = "";
        return true;
    }

    function validateAmountFrom() {
        var from = document.getElementById("from").value;
        var errorFieldFrom = document.getElementById("fromError");

        if (from === null || from === '') {
            errorFieldFrom.textContent = "";
            return true;
        }
        if (isNaN(from)) {
            errorFieldFrom.textContent = "Сумма должна быть числом";
            return false;
        }
        if (from < 1000.00 || from > 10000000.00) {
            errorFieldFrom.textContent = "Сумма должна быть в пределах от 1000 до 1000000";
            return false;
        }

        errorFieldFrom.textContent = "";
        return true;
    }

    function validateAmountTo() {
        var to = document.getElementById("to").value;
        var errorFieldTo = document.getElementById("toError");

        if (to === null || to === '') {
            errorFieldTo.textContent = "";
            return true;
        }
        if (isNaN(to)) {
            errorFieldTo.textContent = "Сумма должна быть числом";
            return false;
        }
        if (to < 1000.00 || to > 10000000.00) {
            errorFieldTo.textContent = "Сумма должна быть в пределах от 1000 до 1000000";
            return false;
        }
        var from = document.getElementById("from").value;
        if (!isNaN(from) && to < from) {
            errorFieldTo.textContent = "Сумма 'До' не может быть меньше суммы 'От'";
            return false;
        }

        errorFieldTo.textContent = "";
        return true;
    }
</script>
</body>
</html>