<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Кредитка</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-link" href="/clients">Клиенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/clients/' + ${clientId} + '/loans'}">Назад</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Сумма</th>
            <th>Процент</th>
            <th>Срок</th>
            <th>Дата выдачи</th>
            <th>Дата погашения</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${loan.getLoanId()}"/>
            <td th:text="${loan.getLoanAmount()}"/>
            <td th:text="${loan.getInterestRate()}"/>
            <td th:text="${loan.getLoanTerm()}"/>
            <td th:text="${loan.getDateOfGive()}"/>
            <td th:text="${loan.getDateOfTotalRepayment()}"/>
            <td>

                <form th:method="GET" th:action="@{'/clients/' + ${clientId} + '/loans/' + ${loan.loanId} + '/edit'}">
                    <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}" type="submit" class="btn btn-primary btn-sm btn-block">Изменить</button>
                </form>

                <form th:method="DELETE" th:action="@{'/clients/' + ${clientId} + '/loans/' + ${loan.loanId}}">
                    <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}" type="submit" class="btn btn-danger btn-sm btn-block">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>