<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .form-horizontal {
            max-width: 500px;
            margin: 0 auto;
        }

        .form-control {
            font-size: 14px;
            padding: 5px;
        }

        .form-group.justify-content-center {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Кредитка</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-link" href="/clients">Клиенты</a>
            </li>
            <a th:if="${client.clientId != null}" class="nav-link"
               th:href="@{'/clients/' + ${client.getClientId()}}">Назад</a>
            <a th:if="${client.clientId == null}" class="nav-link" th:href="@{'/clients'}">Назад</a>
        </ul>
    </div>
</nav>

<form th:if="${client.clientId == null}" th:method="POST" th:action="@{/clients}" th:object="${client}"
      class="form-horizontal" onsubmit="return validateForm();">
    <h3 style="margin-left: 123px; margin-top: 20px; margin-bottom: 25px">Добавить клиента</h3>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{lastName}" id="lastNameInput1" placeholder="Фамилия"
               class="form-control" onkeyup="validateLastName1()"/>
        <div style="color:red; min-width: 100%;" id="lastNameError1"></div>
    </div>

    <div style="margin-top: 25px; margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{firstName}" id="firstNameInput1" placeholder="Имя"
               class="form-control" onkeyup="validateFirstName1()"/>
        <div style="color:red; min-width: 100%;" id="firstNameError1"></div>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{patronymic}" id="patronymicInput1" placeholder="Отчество (при наличии)"
               class="form-control" onkeyup="validatePatronymic1()"/>
        <div style="color:red; min-width: 100%;" id="patronymicError1"></div>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{birthDate}" id="birthDateInput1" placeholder="Дата рождения"
               class="form-control" onkeyup="validateBirthDate1()"/>
        <div style="color:red; min-width: 100%;" id="birthDateError1"></div>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{passport}" id="passportInput1" placeholder="Паспорт"
               class="form-control" onkeyup="validatePassport1()"/>
        <div style="color:red; min-width: 100%;" id="passportError1"></div>
        <div style="color:red" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"></div>
    </div>

    <div style="margin-top: 10px" class="form-group justify-content-center">
        <div class="col-sm-12 controls">
            <button id="addButton" style='margin-left: 183px' type="submit"
                    class="btn btn-primary" onclick="return validateForm1()">Добавить</button>
        </div>
    </div>
</form>



<form th:if="${client.getClientId() != null}" th:method="PATCH" th:action="@{/clients/{id}(id=${client.getClientId()})}"
      th:object="${client}" class="form-horizontal">
    <h3 style="margin-left: 70px; margin-top: 20px; margin-bottom: 25px">Изменить данные клиента</h3>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{lastName}" id="lastNameInput" placeholder="Фамилия"
               class="form-control" onkeyup="validateLastName()"/>
        <div style="color:red; min-width: 100%;" id="lastNameError"></div>
    </div>

    <div style="margin-top: 25px; margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{firstName}" id="firstNameInput" placeholder="Имя"
               class="form-control" onkeyup="validateFirstName()"/>
        <div style="color:red; min-width: 100%;" id="firstNameError"></div>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{patronymic}" id="patronymicInput" placeholder="Отчество (при наличии)"
               class="form-control" onkeyup="validatePatronymic()"/>
        <div style="color:red; min-width: 100%;" id="patronymicError"></div>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{birthDate}" id="birthDateInput" placeholder="Дата рождения"
               class="form-control" onkeyup="validateBirthDate()"/>
        <div style="color:red; min-width: 100%;" id="birthDateError"></div>
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input th:field="*{passport}" id="passportInput" placeholder="Паспорт"
               class="form-control" onkeyup="validatePassport()"/>
        <div style="color:red; min-width: 100%;" id="passportError"></div>
        <div style="color:red" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"></div>
    </div>

    <div style="margin-top: 10px" class="form-group">
        <div class="col-sm-6 controls">
            <button id="saveButton" style="margin-left: 185px" type="submit"
                    class="btn btn-primary" onclick="return validateForm()">Сохранить</button>
        </div>
    </div>
</form>

<script>
    function validateForm() {
            if (validateLastName() & validateFirstName() & validatePatronymic()
                & validateBirthDate() & validatePassport()) {
                return true;
            }
            return false;
    }

    // Валидация имени
    function validateFirstName() {
        var firstNameInput = document.getElementById("firstNameInput").value;
        var errorField = document.getElementById("firstNameError");

        if (firstNameInput === '' || firstNameInput === null) {
            errorField.textContent = "Поле пустое";
            return false;
        } else {
            var nameRegex = /^[A-Za-zА-Яа-я]+$/;
            if(!nameRegex.test(firstNameInput)) {
                errorField.textContent = "Имя должно содержать только буквы";
                return false;
            } else if(firstNameInput.length < 2 || firstNameInput.length > 30) {
                errorField.textContent = "Длина имени должна быть от 2 до 30 букв";
                return false;
            } else {
                errorField.textContent = "";
            }
        }
        return true;
    }

    // Валидация фамилии
    function validateLastName() {
        var lastNameInput = document.getElementById("lastNameInput").value;
        var errorField = document.getElementById("lastNameError");

        if (lastNameInput === '' || lastNameInput === null) {
            errorField.textContent = "Поле пустое";
            return false;
        } else {
            var nameRegex = /^[A-Za-zА-Яа-я]+$/;
            if(!nameRegex.test(lastNameInput)) {
                errorField.textContent = "Фамилия должна содержать только буквы";
                return false;
            } else if(lastNameInput.length < 2 || lastNameInput.length > 50) {
                errorField.textContent = "Длина фамилии должна быть от 2 до 50 букв";
                return false;
            } else {
                errorField.textContent = "";
            }
        }
        return true;
    }

    // Валидация отчества
    function validatePatronymic() {
        var patronymicInput = document.getElementById("patronymicInput").value;
        var errorField = document.getElementById("patronymicError");

        if(patronymicInput === '' && patronymicInput === null) {
            errorField.textContent = "";
            return true;
        }
        if(patronymicInput !== '' && patronymicInput !== null) {
            var nameRegex = /^[A-Za-zА-Яа-я]+$/;
            if(!nameRegex.test(patronymicInput)) {
                errorField.textContent = "Отчество должно содержать только буквы";
                return false;
            } else if(patronymicInput.length < 2 || patronymicInput.length > 30) {
                errorField.textContent = "Длина отчества должна быть от 2 до 30 букв";
                return false;
            } else {
                errorField.textContent = "";
                return true;
            }
        }
        errorField.textContent = "";
        return true;
    }

    // Валидация даты рождения
    function validateBirthDate() {
        var birthDateInput = document.getElementById("birthDateInput").value;
        var errorField = document.getElementById("birthDateError");

        if (birthDateInput === '' || birthDateInput === null) {
            errorField.textContent = "Поле пустое";
        } else {
            var dateRegex = /^\d{4}-\d{2}-\d{2}$/;
            if(!dateRegex.test(birthDateInput)) {
                errorField.textContent = "Формат даты должен быть yyyy-MM-dd";
                return false;
            } else {
                var dateParts = birthDateInput.split("-");
                var year = parseInt(dateParts[0]);
                if (year < 1900 || year > 2023) {
                    errorField.textContent = "Такой даты не существует";
                    return false;
                } else {
                    var birthDate = new Date(birthDateInput);
                    var ageDiff = Date.now() - birthDate.getTime();
                    var ageDate = new Date(ageDiff);
                    var calculatedAge = Math.abs(ageDate.getUTCFullYear() - 1970);
                    if (calculatedAge < 18 || calculatedAge > 100) {
                        errorField.textContent = "Возраст должен быть не меньше 18 и не больше 100 лет";
                        return false;
                    } else {
                        errorField.textContent = "";
                    }
                }
            }
            return true;
        }
    }

    // Валидация паспорта
    function validatePassport() {
        var passportInput = document.getElementById("passportInput").value;
        var errorField = document.getElementById("passportError");

        if (passportInput === '' || passportInput === null) {
            errorField.textContent = "Поле пустое";
            return false;
        }

        var passportRegex = /^\d{10}$/; // Паспорт должен состоять из 10 цифр
        if (!passportRegex.test(passportInput)) {
            errorField.textContent = "Паспорт должен состоять из 10 цифр";
            return false;
        }

        errorField.textContent = "";
        return true;
    }



    function validateForm1() {
        if (validateLastName1() & validateFirstName1() & validatePatronymic1()
            & validateBirthDate1() & validatePassport1()) {
            return true;
        }
        return false;
    }

    // Валидация имени
    function validateFirstName1() {
        var firstNameInput = document.getElementById("firstNameInput1").value;
        var errorField = document.getElementById("firstNameError1");

        if (firstNameInput === '' || firstNameInput === null) {
            errorField.textContent = "Поле пустое";
            return false;
        } else {
            var nameRegex = /^[A-Za-zА-Яа-я]+$/;
            if(!nameRegex.test(firstNameInput)) {
                errorField.textContent = "Имя должно содержать только буквы";
                return false;
            } else if(firstNameInput.length < 2 || firstNameInput.length > 30) {
                errorField.textContent = "Длина имени должна быть от 2 до 30 букв";
                return false;
            } else {
                errorField.textContent = "";
            }
        }
        return true;
    }

    // Валидация фамилии
    function validateLastName1() {
        var lastNameInput = document.getElementById("lastNameInput1").value;
        var errorField = document.getElementById("lastNameError1");

        if (lastNameInput === '' || lastNameInput === null) {
            errorField.textContent = "Поле пустое";
            return false;
        } else {
            var nameRegex = /^[A-Za-zА-Яа-я]+$/;
            if(!nameRegex.test(lastNameInput)) {
                errorField.textContent = "Фамилия должна содержать только буквы";
                return false;
            } else if(lastNameInput.length < 2 || lastNameInput.length > 50) {
                errorField.textContent = "Длина фамилии должна быть от 2 до 50 букв";
                return false;
            } else {
                errorField.textContent = "";
            }
        }
        return true;
    }

    // Валидация отчества
    function validatePatronymic1() {
        var patronymicInput = document.getElementById("patronymicInput1").value;
        var errorField = document.getElementById("patronymicError1");

        if(patronymicInput === '' && patronymicInput === null) {
            errorField.textContent = "";
            return true;
        }
        if(patronymicInput !== '' && patronymicInput !== null) {
            var nameRegex = /^[A-Za-zА-Яа-я]+$/;
            if(!nameRegex.test(patronymicInput)) {
                errorField.textContent = "Отчество должно содержать только буквы";
                return false;
            } else if(patronymicInput.length < 2 || patronymicInput.length > 30) {
                errorField.textContent = "Длина отчества должна быть от 2 до 30 букв";
                return false;
            } else {
                errorField.textContent = "";
                return true;
            }
        }
        errorField.textContent = "";
        return true;
    }

    // Валидация даты рождения
    function validateBirthDate1() {
        var birthDateInput = document.getElementById("birthDateInput1").value;
        var errorField = document.getElementById("birthDateError1");

        if (birthDateInput === '' || birthDateInput === null) {
            errorField.textContent = "Поле пустое";
        } else {
            var dateRegex = /^\d{4}-\d{2}-\d{2}$/; // Формат даты yyyy-MM-dd
            if(!dateRegex.test(birthDateInput)) {
                errorField.textContent = "Формат даты должен быть yyyy-MM-dd";
                return false;
            } else {
                var dateParts = birthDateInput.split("-");
                var year = parseInt(dateParts[0]);
                var month = parseInt(dateParts[1]);
                var day = parseInt(dateParts[2]);
                if (year < 1900 || year > 2023 || month === 0 || month > 12 || day === 0 || day > 31) {
                    errorField.textContent = "Неверная дата";
                    return false;
                } else {
                    var birthDate = new Date(birthDateInput);
                    var ageDiff = Date.now() - birthDate.getTime();
                    var ageDate = new Date(ageDiff);
                    var calculatedAge = Math.abs(ageDate.getUTCFullYear() - 1970);
                    if (calculatedAge < 18 || calculatedAge > 100) {
                        errorField.textContent = "Возраст должен быть не меньше 18 и не больше 100 лет";
                        return false;
                    } else {
                        errorField.textContent = "";
                    }
                }
            }
            return true;
        }
    }

    // Валидация паспорта
    function validatePassport1() {
        var passportInput = document.getElementById("passportInput1").value;
        var errorField = document.getElementById("passportError1");

        if (passportInput === '' || passportInput === null) {
            errorField.textContent = "Поле пустое";
            return false;
        }

        var passportRegex = /^\d{10}$/; // Паспорт должен состоять из 10 цифр
        if (!passportRegex.test(passportInput)) {
            errorField.textContent = "Паспорт должен состоять из 10 цифр";
            return false;
        }

        errorField.textContent = "";
        return true;
    }
</script>

</body>
</html>